---
const data = Astro.props;
---

<section 
  id={data.id ? data.id : ''} 
  class={ "snap-center mx-auto w-full min-h-screen scroll-p-8 py-10 px-[5%] max-w-[calc(1400px+10%)] max-lg:pt-20 " + data.className}
>
  <slot />
</section>