---
import SocialLinks from '@/components/mainvisual/SocialLinks'

import mvImage from "/public/mainimage.png"
import mvImageHover from "/public/hoverimage.png"
import Image from "astro/components/Image.astro"
import SlideShowCards from '@/components/mainvisual/SlideShowCards'
---

<div class="
  absolute
  right-0
  bottom-0
  w-full
  max-w-3xl
  h-screen
  overflow-hidden
  bg-transparent
  z-[-1]
  ">
  <SlideShowCards client:load />
</div>

<div class="w-full flex items-center gap-10 max-md:flex-wrap max-md:justify-center">
  <div class="relative w-60 h-auto rounded-[50%] max-md:w-[70%] group">
    <Image class="aspect-square rounded-[50%] w-[100%] object-cover transition-all duration-500 ease-in-out group-hover:opacity-0 group-hover:scale-110 group-hover:blur-sm" loading={'eager'} width={1600} src={mvImage} alt={'mvimage'}/>
    <Image class="aspect-square rounded-[50%] w-[100%] object-cover absolute inset-0 opacity-0 scale-90 blur-sm transition-all duration-500 ease-in-out group-hover:opacity-100 group-hover:scale-100 group-hover:blur-0" loading={'eager'} width={1600} src={mvImageHover} alt={'mvimage-hover'}/>
  </div>

  <div class="w-fit">
    <SocialLinks client:load />

    <h1 class="mt-5 mb-3 scroll-m-10 border-b pb-2 text-5xl font-semibold tracking-tight max-md:text-3xl max-md:text-center">alejandre james</h1>
    
    <p class="leading-relaxed">Hi! I’m <span class="font-bold">James,</span><br/>
      a Frontend-Focused <span class="font-bold">Full Stack Developer</span><br/>
      with a passion for crafting clean,<br/>
      efficient digital experiences.
    </p>
  </div>
</div>