---
const data = Astro.props
---

<h2 class={ 
  "scroll-m-20\
  mb-5\
  border-b\
  pb-2\
  text-3xl\
  font-semibold\
  tracking-tight\
  first:mt-0\
  max-lg:text-xl " 
  + data.class
}>
  <slot />
</h2>
