---
import projectlist from "../../assets/projectlist.json"

import HeadingComponent from "../common/astro/HeadingComponent.astro";
import WorksMainComponent from "@/components/works/WorksMainComponent"
---

<div class="grid h-full max-lg:mt-0">
  <HeadingComponent>Works</HeadingComponent>

  <WorksMainComponent client:only="react" data={projectlist} />
</div>