---
// TSX
import { ThemeWrapper } from '@/components/ThemeWrapper';
import { BackgroundPattern } from '@/components/common/BackgroundPattern';

// Astro
import BaseHead from '@/components/common/BaseHead.astro';
import Header from '@/components/header/Header.astro';
import Footer from '@/components/footer/Footer.astro'


// Vars
const { title } = Astro.props;
---
<html lang="en" class="dark">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <BaseHead title={title}/>
  </head>
  <body class="bg-black text-white max-h-full font-mono">
    <ThemeWrapper client:load>
      <div class="fixed inset-0 -z-10">
        <BackgroundPattern client:only="react" />
      </div>

      <header>
        <Header />
      </header>
      
      <main>
        <slot /><!-- your content is injected here -->
      </main>
      
      <footer>
        <Footer />
      </footer>
    </ThemeWrapper>
  </body>
</html>
