---
import BaseHead from '@/components/common/astro/BaseHead.astro';
const { title } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <BaseHead title={title}/>
  </head>
  <body style="background-color: #030712; min-height: 100vh; overflow-x: hidden;">
    <slot />
  </body>
</html>
